streamlit
pandas
numpy
matplotlib
seaborn
scikit-learn
imbalanced-learn
xgboost
joblib
langgraph
langchain
langchain-google-genai
langchain-community
langchain-groq
langchain-mistralai
faiss-cpu
sentence-transformers
langchain-huggingface
python-dotenv
